# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
plan.txt
crash.log
crash.*.log

# Sensitive
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editors
.vscode/
.idea/
*.swp
.DS_Store
